{# {% from "macros/macro.html" import my_input %} #}
{% import "macros/macro.html" as macro with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了宏</title>
</head>
<body>
    <h1>知了登录</h1>
    <table>
        <tbody>
            <tr>
                <td>用户名:</td>
                <td>{{ macro.my_input('username') }}</td>
            </tr>
            <tr>
                <td>密码:</td>
                <td>{{ macro.my_input('password', type='password') }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ macro.my_input(value='提交', type='submit') }}</td>
            </tr>
        </tbody>
    </table>
    <p>{{ username }}</p>
</body>
</html>