<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if age > 18 %}
        <p>你已成年，可以进入网吧</p>
    {% elif age == 18 %}
        <p>你还需要在等半年才能去网吧</p>
    {% else %}
        <p>你还是未成年人，不能进入网吧</p>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>国家</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for foo in person.keys() %}
                <td>{{ foo }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for value in person.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>书名</th>
                <th>作者</th>
                <th>价格</th>
            </tr>
        </thead>
{#        <tbody>#}
{#            {% for book in books %}#}
{#                {% if loop.index0 %}#}
{#                    <tr style="background-color: pink">#}
{#                    {% elif loop.last %}#}
{#                    <tr style="background-color: royalblue">#}
{#                {% endif %}#}
{#                </tr>#}
{#                    {% for vaule in book.values() %}#}
{#                        <td>{{ vaule }}</td>#}
{#                    {% endfor %}#}
{##}
{#                {% endfor %}#}
{##}
{#                <td></td>#}
{#            </tr>#}
{#        </tbody>#}
        <tbody>
            {% for book in books %}
                {% if loop.first %}
                    <tr style="background-color: hotpink">
                {% elif loop.last %}
                    <tr style="background-color: aquamarine">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ loop.index }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
</body>
</html>